<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>AI Bot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css" rel="stylesheet"
        crossorigin="anonymous">
</head>

<body class="container">
    <h1 class="display-6 py-2">AI Bot</h1>

    <form method="POST" action="/">
        <div>
            <label for="prompt">Prompt:</label>
            <textarea id="prompt" name="prompt" class="form-control"></textarea>
        </div>
        <center class="py-3">
            <input type="submit" value="Submit" class="btn btn-primary">
        </center>
    </form>
    {% if question != None %}
    <p class="border border-2 p-3 h6">自分：{{ question }}</p>
    {% endif %}
    {% if result != None %}
    <p class="border border-2 p-3 h6">AI：{{ result }}</p>
    {% endif %}
</body>

</html>